<div class="leftMenu">

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#createItems">
                    <h4 class="panel-title">
                        Create New <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    </h4>
                </a>
            </div>
            <div id="createItems" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">Invoice</a></li>
                    <li class="list-group-item"><a href="#">Payment</a></li>
                    <li class="list-group-item"><a href="#">Account</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#recentInvoices">
                    <h4 class="panel-title">
                        Recent Invoices <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    </h4>
                </a>
            </div>
            <div id="recentInvoices" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">135/ST/GD/05/2017</a></li>
                    <li class="list-group-item"><a href="#">222/ST/2017</a></li>
                    <li class="list-group-item"><a href="#">88/SU/05/2017</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr />
    <button class="btn btn-default btnDetails">Edit</button>
    <button class="btn btn-default btnDetails btnDelete">Delete</button>

</div>
