<div class="col-lg-2"></div>

<div class="col-lg-8">

    <a   href='@Url.Action("Index", "Invoices")'>
        <img class="logoConstruction" src='@Url.Content("~/Images/InvoicesLogo.png")' />
    </a> 
    
    <h1>
        This page is still under construction.<br />Please check out the <a href='@Url.Action("Index", "Invoices")'>
           Invoices Tutorial </a>. 
    </h1>

</div>
<div class="col-lg-2"></div>